<ngb-carousel
  class="carousel"
  *ngIf="allPhotos"
  #carousel
  [interval]="1000"
  [pauseOnHover]="pauseOnHover"
  (slide)="onSlide($event)"
>
  <ng-template ngbSlide *ngFor="let img of allPhotos; index as i">
    <div class="carousel-caption">
      <h3>My slide {{ i + 1 }} title</h3>
    </div>
    <div class="picsum-img-wrapper">
      <img class="carousel" [src]="img" alt="" />
    </div>
  </ng-template>
</ngb-carousel>
<mat-tab-group animationDuration="2000ms">
  <mat-tab label="car details">
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">BRANDS</th>
            <th scope="col">MODELS</th>
            <th scope="col">CAR CLASS</th>
            <th scope="col">BODY STYLE</th>
            <th scope="col">PRICE</th>
            <th scope="col">SEATS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <div class="media align-items-center">
                <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                  <img
                    alt="Image placeholder"
                    [src]="carRequest.car.carBrand.photoUrl"
                  />
                </a>
                <div class="media-body">
                  <span class="mb-0 text-sm">{{
                    carRequest.car.carBrand.name
                  }}</span>
                </div>
              </div>
            </th>
            <td>
              {{
                carRequest.car.carModel.name +
                  " " +
                  carRequest.car.carModel.year
              }}
            </td>
            <td>
              {{ carRequest.car.car_class }}
            </td>
            <td>
              {{ carRequest.car.body_style }}
            </td>
            <td>
              <span class="badge badge-dot mr-4">
                <i class="bg-warning"></i>$ {{ carRequest.car.price }}
              </span>
            </td>
            <td>
              {{ carRequest.car.seat }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">DOORS</th>
            <th scope="col">FUEL</th>
            <th scope="col">LARGE BAG</th>
            <th scope="col">SMALL BAG</th>
            <th scope="col">GEARBOX</th>
            <th scope="col">AIR CONDITIONING</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ carRequest.car.door }}
            </td>
            <td>
              <i class="fas fa-gas-pump"></i>
              {{ carRequest.car.fuel }}
            </td>
            <td>
              {{ carRequest.car.large_bag }}
            </td>
            <td>
              {{ carRequest.car.small_bag }}
            </td>
            <td>
              {{ carRequest.car.gearbox }}
            </td>
            <td>
              {{ carRequest.car.air_conditioning ? "air conditioning" : "---" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr class="my-4" />
    <!-- Description -->
    <div class="card shadow">
      <div class="card-header border-0">
        <h3 class="mb-0"><i class="fas fa-info-circle"></i> Description</h3>
      </div>
      {{ carRequest.car.description }}
    </div>
  </mat-tab>
  <mat-tab label="rental details">
    <div class="alert alert-danger" role="alert">
      <i class="fa fa-calendar" aria-hidden="true"></i> Pick up Date :
      {{ carRequest.pick_up + " " + carRequest.pick_up_time }}
    </div>
    <div class="alert alert-warning" role="alert">
      <i class="fa fa-calendar" aria-hidden="true"></i> Drop off Date :
      {{ carRequest.drop_off + " " + carRequest.drop_off_time }}
    </div>
    <div
      *ngIf="!carRequest.blocked && !carRequest.accepted"
      class="alert alert-warning"
      role="alert"
    >
      <i class="fa fa-cog fa-spin fa-3x fa-fw" aria-hidden="true"></i>
      Status : in progress ...
    </div>
    <div
      *ngIf="!carRequest.blocked && carRequest.accepted"
      class="alert alert-success"
      role="alert"
    >
      <i class="fa fa-check" aria-hidden="true"></i>
      Status : your request is accepted with success
    </div>
    <div *ngIf="carRequest.blocked" class="alert alert-danger" role="alert">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      Status : Sorry ! your request is not accepted
    </div>
  </mat-tab>
  <mat-tab label="client details">
    <div class="alert alert-primary" role="alert">
      <i class="fa fa-user" aria-hidden="true"></i> first name:
      {{ carRequest.client.firstname }}
    </div>
    <div class="alert alert-danger" role="alert">
      <i class="fa fa-user" aria-hidden="true"></i> last name:
      {{ carRequest.client.lastname }}
    </div>
    <div class="alert alert-warning" role="alert">
      <i class="fa fa-phone" aria-hidden="true"></i> Phone :
      {{ carRequest.client.phone }}
    </div>
    <div class="alert alert-info" role="alert">
      <i class="ni ni-email-83"></i>Email :
      {{ carRequest.client.phone }}
    </div>
    <div class="alert alert-default" role="alert">
      <i class="fas fa-city"></i> City {{ carRequest.client.city.name }}
    </div>
    <div class="alert alert-success" role="alert">
      <i class="fas fa-map-marked-alt"></i> Adresse :
      {{ carRequest.client.adresse }}
    </div>
  </mat-tab>
  <mat-tab label="Important Information">
    <div class="card text-white bg-info">
      <h1
        class="card-header"
        style="background-color: var(--green); color: var(--neutral);"
      >
        <i class="fa fa-info" aria-hidden="true"></i> rental terms
      </h1>
      <div class="card-body">
        <h5 class="card-title">
          <i class="fa fa-user" aria-hidden="true"></i> &nbsp; DRIVER & LICENCE
          <strong>Requirements</strong>
        </h5>
        <p class="card-text">When you pick the car up, you'll need:</p>
        <ul class="important-info__checkList">
          <li class="important-info__checkListItem">
            Passport or national ID card
          </li>
          <li class="important-info__checkListItem">Driving licence</li>
          <li class="important-info__checkListItem">
            Credit or debit card
          </li>
        </ul>
        <p class="card-text">
          You must be at least 21 to drive this car.
        </p>
        <h5 class="card-title">
          <i class="fas fa-gas-pump"></i> &nbsp; FUEL POLICY
          <strong>Full to Full</strong>
        </h5>
        <p class="card-text">
          When you pick your car up, the fuel tank will be full or partly full.
          You will leave a deposit to cover the cost of the fuel: the counter
          staff will block this money on your credit card. Just before you
          return your car, please replace the fuel you’ve used.
        </p>
      </div>
    </div>
  </mat-tab>
  <!-- <mat-tab label="Customer Reviews">
    <mat-card
      *ngFor="let review of reviews"
      class="example-card"
      style="background: #f7fafc; color: #172b4d; margin: 24px;"
    >
      <app-reviews
        [review]="review"
        [clientKey]="carRequest.client.clientKey"
      ></app-reviews>
      <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-scale-multiple"
        [fullScreen]="false"
      >
        <p style="font-size: 20px; color: white;">Loading...</p>
      </ngx-spinner>
    </mat-card>
  </mat-tab> -->
</mat-tab-group>
