<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 600px;
    background-image: url(assets/img/theme/car-cover-design.jpg);
    background-size: cover;
    background-position: center top;
  "
></div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-secondary border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0"><i class="fas fa-store-alt"></i> Agencies</h3>
            </div>
            <div class="col-4 text-right">
              <a
                [routerLink]="['/admin/settings']"
                href="javascript:void(0)"
                class="btn btn-sm btn-primary"
              >
                <i class="fa fa-cog" aria-hidden="true"></i> Settings</a
              >
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Photo</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Adresse</th>
                  <th scope="col">phone</th>
                  <th scope="col">City</th>
                  <th scope="col">Sector</th>
                  <th scope="col">Created at</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let worker of workers">
                  <td>
                    <div class="media align-items-center">
                      <a class="avatar rounded-circle mr-3">
                        <img
                          alt="Image placeholder"
                          *ngIf="worker.logo"
                          [src]="worker.logo"
                        />
                      </a>
                      <div class="media-body">
                        <span class="mb-0 text-sm"> </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span> {{ worker.name }}</span>
                  </td>
                  <td>
                    <span>{{ worker.email }}</span>
                  </td>

                  <td>
                    <span>{{ worker.adresse }}</span>
                  </td>
                  <td>
                    <span>{{ worker.phone }}</span>
                  </td>
                  <td>
                    <span>{{ worker.city.name }}</span>
                  </td>
                  <td>
                    <span>{{ worker.sector.name }}</span>
                  </td>
                  <td>
                    <span>{{ worker.created_at }}</span>
                  </td>

                  <td>
                    <button
                      *ngIf="!worker.blocked && !worker.accepted"
                      mat-mini-fab
                      color="success"
                      aria-label="accepted"
                      (click)="acceptWorker(worker.workerKey)"
                    >
                      <mat-icon>done</mat-icon>
                    </button>

                    <button
                      *ngIf="!worker.blocked && worker.accepted"
                      mat-mini-fab
                      color="warn"
                      aria-label="not accepted"
                      (click)="disacceptedWorker(worker.workerKey)"
                    >
                      <mat-icon>cancel</mat-icon>
                    </button>
                    <button
                      *ngIf="!worker.blocked"
                      mat-mini-fab
                      color="accent"
                      aria-label="block"
                      (click)="blockWorker(worker.workerKey, true)"
                    >
                      <mat-icon>lock</mat-icon>
                    </button>
                    <button
                      *ngIf="worker.blocked"
                      mat-mini-fab
                      color="success"
                      aria-label="deblock"
                      (click)="blockWorker(worker.workerKey, false)"
                    >
                      <mat-icon>no_encryption</mat-icon>
                    </button>
                  </td>
                  <td></td>
                </tr>
                <ngx-spinner
                  bdColor="rgba(51,51,51,0.8)"
                  size="medium"
                  color="#fff"
                  type="ball-scale-multiple"
                  [fullScreen]="false"
                >
                  <p style="font-size: 20px; color: white;">Loading...</p>
                </ngx-spinner>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)"
                    >2 <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
