<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 600px;
    background-image: url(assets/img/theme/car-cover-design.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <ul
        class="nav nav-pills nav-fill flex-column flex-sm-row"
        id="tabs-text"
        role="tablist"
      >
        <li class="nav-item">
          <a
            class="nav-link mb-sm-3 mb-md-0"
            id="tabs-text-1-tab"
            data-toggle="tab"
            [routerLink]="['/admin/settings/Car-models']"
            role="tab"
            aria-controls="tabs-text-1"
            aria-selected="true"
            >Car Models</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link mb-sm-3 mb-md-0"
            id="tabs-text-2-tab"
            data-toggle="tab"
            [routerLink]="['/admin/settings/sectors']"
            role="tab"
            aria-controls="tabs-text-2"
            aria-selected="false"
            >Sectors</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link mb-sm-3 mb-md-0"
            id="tabs-text-3-tab"
            data-toggle="tab"
            [routerLink]="['/admin/settings/colors']"
            role="tab"
            aria-controls="tabs-text-3"
            aria-selected="false"
            >Colors</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link mb-sm-3 mb-md-0"
            id="tabs-text-3-tab"
            data-toggle="tab"
            [routerLink]="['/admin/settings/car-brands']"
            role="tab"
            aria-controls="tabs-text-3"
            aria-selected="false"
            >Car Brands</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link mb-sm-3 mb-md-0 active"
            id="tabs-text-3-tab"
            data-toggle="tab"
            [routerLink]="['/admin/settings/car-models']"
            role="tab"
            aria-controls="tabs-text-3"
            aria-selected="false"
            >Cars Models</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Car Models</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card-header border-0">
            <h3 class="mb-0">Add new car Model</h3>
            <form [formGroup]="carModelForm" (ngSubmit)="onSaveCarModel()">
              <mat-form-field>
                <mat-label>Car Brands</mat-label>
                <mat-select formControlName="carBrandKey">
                  <mat-option
                    *ngFor="let carBrand of carBrands"
                    [value]="carBrand.value"
                  >
                    {{ carBrand.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fa fa-taxi" aria-hidden="true"></i>
                        </span>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Car model"
                        id="name"
                        formControlName="name"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i
                            class="fa fa-calendar-check-o"
                            aria-hidden="true"
                          ></i>
                        </span>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Year"
                        id="year"
                        formControlName="year"
                        type="number"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <button
                    class="btn btn-info"
                    [disabled]="carModelForm.invalid"
                    type="submit"
                  >
                    Add <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Models</th>
                  <th scope="col">Years</th>
                  <th scope="col">Brands</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let carBrandModel of carBrandModels">
                  <td>
                    <span>{{ carBrandModel.carModel }}</span>
                  </td>
                  <td>
                    <span>{{ carBrandModel.year }}</span>
                  </td>
                  <td>
                    <div class="media align-items-center">
                      <a class="avatar rounded-circle mr-3">
                        <img
                          alt="Image placeholder"
                          *ngIf="carBrandModel.photoUrl"
                          [src]="carBrandModel.photoUrl"
                        />
                      </a>
                      <div class="media-body">
                        <span class="mb-0 text-sm">
                          {{ carBrandModel.carBrand }}
                        </span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button
                      class="btn btn-danger rounded-circle"
                      (click)="onDeleteCarModel(carBrandModel.carModelKey)"
                      type="button"
                    >
                      <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <button
                      class="btn btn-primary rounded-circle"
                      (click)="
                        openDialog(
                          carBrandModel.carModelKey,
                          carBrandModel.carModel,
                          carBrandModel.year,
                          carBrandModel.carBrandKey
                        )
                      "
                      type="button"
                    >
                      <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)"
                    >2 <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
