::ng-deep .mat-form-field {
  width: 100%;
}
.img-thumbnail {
  width: 443px;
  height: 372px;
  margin-left: 17px;
}
.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.avatar-circel-img {
  width: 35px;
  height: 35px;
  border-radius: 50% !important;
}
